/* About Rappi */
.About_Rappi{
    width: 100%;

}
.About_Rappi .titulo{
    width: 100%;
    background-color: var(--color5);
    padding: 4rem 2rem;
}
.About_Rappi .titulo h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
    color: grey;   
}
.About_Rappi .titulo h3 span{
    font-weight: 900;
    color: var(--color2)
}
.About_Rappi .titulo h3 hr{
    margin: 0 1rem;
}
.About_Rappi .titulo h2{
    font-size: 5rem;
    margin-top: 3rem;
}

.contenido{
    width: 100%;
    padding: 4rem 2rem;
}
.contenido p{
    color: var(--color2);
    font-size: 1.4rem;
}

.botones{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones .bt1{
    display: block;
    background-color: var(--color1);
    width: 20rem;
    color: #fff;
    border-radius: 10rem;
    padding: 1rem;
    margin-top: 2rem;

/* sombra de botón 1*/
    -webkit-box-shadow: -2px -1px 47px -5px rgba(255,113,117,1);
    -moz-box-shadow: -2px -1px 47px -5px rgba(255,113,117,1);
    box-shadow: -2px -1px 47px -5px rgba(255,113,117,1);

    font-size: 1.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones .bt2{
    text-decoration: none;
    display: block;
    border: 1px solid var(--color1);
    width: 15rem;
    border-radius: 10rem;
    margin-top: 2rem;
    color: var(--color1);
    padding: 1rem;

    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}